<form action="{{ path('app_register') }}" method="POST" enctype="multipart/form-data" class="needs-validation"
      novalidate>
    <div class="mb-3 form-group">
        <label for="{{ registrationForm.firstName.vars.id }}"
               class="form-label">{{ registrationForm.firstName.vars.label }}</label>
        <input type="text" id="{{ registrationForm.firstName.vars.id }}"
               name="{{ registrationForm.firstName.vars.full_name }}"
               class="form-control {% if registrationForm.firstName.vars.errors is not empty %}is-invalid{% elseif registrationForm.firstName.vars.value is not empty %}is-valid{% endif %}"
               value="{{ registrationForm.firstName.vars.value }}"/>
        {% if registrationForm.firstName.vars.errors is not empty %}
            {% include 'forms/error.html.twig' with {'error': registrationForm.firstName.vars.errors} %}
        {% endif %}
        <div class="valid-feedback">
            Jest git
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="{{ registrationForm.lastName.vars.id }}"
               class="form-label">{{ registrationForm.lastName.vars.label }}</label>
        <input type="text" id="{{ registrationForm.lastName.vars.id }}"
               name="{{ registrationForm.lastName.vars.full_name }}"
               class="form-control {% if registrationForm.lastName.vars.errors is not empty %}is-invalid{% elseif registrationForm.lastName.vars.value is not empty %}is-valid{% endif %}"
               value="{{ registrationForm.lastName.vars.value }}"/>
        {% if registrationForm.lastName.vars.errors is not empty %}
            {% include 'forms/error.html.twig' with {'error': registrationForm.lastName.vars.errors} %}
        {% endif %}
        <div class="valid-feedback">
            Jest git
        </div>
    </div>
    <div class="mb-3">
        <label for="{{ registrationForm.login.vars.id }}"
               class="form-label">{{ registrationForm.login.vars.label }}</label>
        <input type="text" id="{{ registrationForm.login.vars.id }}" name="{{ registrationForm.login.vars.full_name }}"
               class="form-control {% if registrationForm.login.vars.errors is not empty %}is-invalid{% elseif registrationForm.login.vars.errors is empty and registrationForm.login.vars.value is not empty %}is-valid{% endif %}"
               value="{{ registrationForm.login.vars.value }}" required/>
        {% if registrationForm.login.vars.errors is not empty %}
            {% include 'forms/error.html.twig' with {'error': registrationForm.login.vars.errors} %}
        {% endif %}
        <div class="valid-feedback">
            Jest git
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="{{ registrationForm.email.vars.id }}"
               class="form-label">{{ registrationForm.email.vars.label }}</label>
        <input id="{{ registrationForm.email.vars.id }}" name="{{ registrationForm.email.vars.full_name }}"
               class="form-control {% if registrationForm.email.vars.errors is not empty %}is-invalid{% elseif registrationForm.email.vars.errors is empty and registrationForm.email.vars.value is not empty %}is-valid{% endif %}"
               value="{{ registrationForm.email.vars.value }}" required/>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        {% if registrationForm.email.vars.errors is not empty %}
            {% include 'forms/error.html.twig' with {'error': registrationForm.email.vars.errors} %}
        {% endif %}
        <div class="valid-feedback">
            Jest git
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="{{ registrationForm.password.first.vars.id }}"
               class="form-label">{{ registrationForm.password.first.vars.label }}</label>
        <input type="password" id="{{ registrationForm.password.first.vars.id }}"
               name="{{ registrationForm.password.first.vars.full_name }}"
               class="form-control {% if registrationForm.password.first.vars.errors is not empty %}is-invalid{% elseif registrationForm.password.first.vars.errors is empty and registrationForm.password.first.vars.value is not empty %}is-valid{% endif %}"
               autocomplete="new-password"
               required/>
        {% if registrationForm.password.first.vars.errors is not empty %}
            {% include 'forms/error.html.twig' with {'error': registrationForm.password.first.vars.errors} %}
        {% endif %}
        <div class="valid-feedback">
            Jest git
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="{{ registrationForm.password.second.vars.id }}"
               class="form-label">{{ registrationForm.password.second.vars.label }}</label>
        <input type="password" id="{{ registrationForm.password.second.vars.id }}"
               name="{{ registrationForm.password.second.vars.full_name }}"
               class="form-control {% if registrationForm.password.second.vars.errors is not empty %}is-invalid{% elseif registrationForm.password.second.vars.errors is empty and registrationForm.password.second.vars.value is not empty %}is-valid{% endif %}"
               autocomplete="new-password"
               required/>
    </div>
    <div class="mb-3 form-group">
        <label for="{{ registrationForm.avatar.vars.id }}"
               class="form-label">{{ registrationForm.avatar.vars.label }}</label>
        <input type="file" id="{{ registrationForm.avatar.vars.id }}"
               name="{{ registrationForm.avatar.vars.full_name }}"
               class="form-control {% if registrationForm.avatar.vars.errors is not empty %}is-invalid{% elseif registrationForm.avatar.vars.value is not empty %}is-valid{% endif %}">
        {% if registrationForm.avatar.vars.errors|length > 0 %}
            {% include 'forms/error.html.twig' with {'error': registrationForm.avatar.vars.errors} %}
        {% endif %}
    </div>
    <div class="mb-3 form-group">

        <input type="checkbox" name="{{ registrationForm.agreeTerms.vars.full_name }}"
               class="form-check-input {% if registrationForm.agreeTerms.vars.errors is not empty %}is-invalid{% elseif registrationForm.agreeTerms.vars.errors is empty and app.request.method == 'POST' %}is-valid{% endif %}"
               id="{{ registrationForm.agreeTerms.vars.id }}"
               {% if registrationForm.agreeTerms.vars.errors is not empty %}is-invalid{% elseif registrationForm.agreeTerms.vars.errors is empty and app.request.method == 'POST' %}checked{% endif %}
               required>
        <label class="form-check-label" for="{{ registrationForm.agreeTerms.vars.id }}">
            {{ registrationForm.agreeTerms.vars.label }}
        </label>
        {% if registrationForm.agreeTerms.vars.errors|length > 0 %}
            {% include 'forms/error.html.twig' with {'error': registrationForm.agreeTerms.vars.errors} %}
        {% endif %}
    </div>
    {{ form_row(registrationForm._token) }}

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
