<header class="header">
    <nav class="header__navbar" data-navbar-menu>
        <div class="header__navbar-container container">
            <a class="header__navbar-brand" href="{{ path('app_homepage') }}">Navbar</a>
            <button class="header__mobile-button" data-navbar-button>
                <div class="header__mobile-span-wrapper">
                    <span class="header__mobile-span header__mobile-span--one"></span>
                    <span class="header__mobile-span header__mobile-span--two"></span>
                    <span class="header__mobile-span header__mobile-span--three"></span>
                </div>
                <span class="header__mobile-button-text">
                    Menu
                </span>
            </button>
            <div class="header__links-wrapper">
                <div class="container">
                    <div class="header__link-item header__link-item--homepage">
                        <a class="header__link" href="{{ path('announcement_index') }}">Strona główna</a>
                    </div>
                    <div class="header__link-item">
                        <a class="header__link" href="{{ path('announcement_index') }}">Ogłoszenia</a>
                    </div>
                    <div class="header__link-item">
                        <a class="header__link" href="{{ path('announcement_index') }}">Ulubione</a>
                    </div>
                    <div class="header__links-account">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class=" header__link-item">
                                <a class="header__link header__link--user" href="{{ path('app_user') }}">Twoje konto</a>
                            </div>
                            <div class=" header__link-item">
                                <a class="header__link header__link--logout" href="{{ path('app_logout') }}">Wyloguj</a>
                            </div>

                        {% else %}
                            <div class=" header__link-item">
                                <a class="header__link header__link-item--login" href="{{ path('app_login') }}">Zaloguj</a>
                            </div>
                            <div class=" header__link-item">
                                <a class="header__link header__link-item-register"
                                   href="{{ path('app_register') }}">Załóż konto</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
