{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user-account/style') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-account/script') }}
{% endblock %}


{% block title %}Hello AnnouncementController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    {% include '@molecules/sidebar_menu.html.twig' %}
                </div>
                <div class="col-12 col-md-9">
                    <form action="{{ path('user_delete') }}" method="POST">
                        <p>Czy na pewno chcesz usunąć swoje konto?</p>
                        {{ csrf_token('delete-account') }}
                        <button type="submit">Tak, usuń moje konto</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
