<div class="card">
    <img src="{{ asset('assets/images/homepage/make-a-phone-call-640.jpg') }}" class="card-img-top card__img" alt="...">
    <h5 class="card__title">{{ card.title }}</h5>
    <p class="card__text">{{ card.description }}</p>
    <a href="{{ path('announcement_show', {'id': card.id}) }}"
       class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
        SHOW
    </a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ path('user_add_favorite') }}"
           class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
            Favorite
        </a>
    {% endif %}
</div>